* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 2rem;
	color: var(--primary-color);
	line-height: 1.5;
}

h1, h2 {
	font-size: 6rem;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
}

h2 {
	margin-bottom: 5rem;
	line-height: 1.2;
}

p {
	margin-bottom: 3rem;
}

.responsive-table {
	overflow: hidden;
	overflow-x: auto;
}

table {
	min-width: 36rem;
	width: 100%;
	border-collapse: collapse;
}

table caption {
	font-style: italic;
	font-size: 1.6rem;
	text-align: left;
	margin-bottom: 1rem;
}

table td,th {
	white-space: nowrap;
	padding: 0.8rem;
	text-align: left;
	border: 0.1rem solid var(--light-gray-color);
}

tfoot td, table th{
	background-color: var(--light-gray-color);
}