:root {
	--primary-color: #031100;
	--secondary-color: crimson;
	--white-color: #ffffff;
	--light-gray-color: #eeeeee;
	--gap: 3rem;
}

.main-bg {
	background-image: url("../img/endless-constellation (2).svg");
	background-size: auto;
	background-position: center center;
	color: var(--white-color);
}

.white-bg {
	background: var(--white-color);
	color: var(--primary-color);
}

.main-content {
	max-width: 120rem;
	margin: 0 auto;
	padding: 7rem var(--gap);
}

.section {
	min-height: 100vh;
}
