:root {
	--primary-color: #031100;
	--white-color: #ffffff;
	--light-gray-color: #eeeeee;
	--darkish-gray-color: #c0c0c0;
	--gap: 3rem;
}

.main-bg {
	background-image: url("../img/endless-constellation.svg");
	background-size: auto;
	background-position: center center;
	color: var(--white-color);
}

.white-bg {
	background: var(--white-color);
	color: var(--primary-color);
}

.main-content {
	max-width: 120rem;
	margin: 0 auto;
	padding: 7rem var(--gap);
}

.section {
	min-height: 100vh;
}
